
html {
  background-image: url(../assests/space.jpg);
  background-position: center;
  background-size: cover;
  background-color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em; /* 16px */
  line-height: 1.5em; /*24px*/
  text-rendering: optimizeLegibility;
}

.grid-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
  
  h1 {
    color: white;
    font-size: 3.375em;
    text-align: center;
    margin: 1rem 0;
  }
  
  input {
    box-sizing: border-box;
    width: 97%;
    padding: 12px 30px;
    margin: 8px 1.5%;
    border: 1px solid;
    border-color: #c0c0c0;
    border-radius: 6px;
  }
  
  li {
    text-align: left;
    padding-top: 1.182em;
    padding-bottom: 1.182em;
    padding-left: 1.182em;
    padding-right: 1.182em;
  }
  
  label {
    display: block;
    text-align: left;
  }

  form {
    background-color: white;
    /*color: white;*/
    border-radius: 10px;
    margin: 8%;
  }

  #submit {
    color: white;
    background-color: blueviolet;
    padding: 15px 0 15px 0;
    margin: 0 0 0 30%;
    width: 150px;

  }

  .hasjs #input-submit input.active {
    box-sizing: border-box;
    border: 2px solid black;
  }
  
  @media screen and (min-width: 600px) {
    html {
      background-image: none;
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    .grid-wrapper {
      background-color: rgba(0, 0, 0, 0);
      border-radius: 0;
      display: grid;
      grid-template-columns: 1fr 1fr ;
    }

    .grid-1 {
      grid-column: 1;
      grid-row: 1;
    }

    .grid-2 {
      background-image: url(../assests/space.jpg);
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
      grid-column: 2;
      grid-row: 1/3;
    }

    .grid-3 {
      grid-column: 1;
      grid-row: 2;
    }

    form {
      margin: 0 4% 0 4%;
    }
  }
  
  @media screen and (min-width: 992px) {
    form {
      margin: 8%;
    }
  }
  
  /* ===== LAYOUT STYLES ====== */
  
  
  /* ===== STATE STYLES ======= */
  
  