
html {
  background-color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  /*padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}
  
  h1 {
    color: white;
    text-align: center;
    margin: 1.182em 0 ;
  }
  
  input {
    box-sizing: border-box;
    width: 97%;
    padding: 12px 30px;
    margin: 8px 1.5%;
    border: 1px solid;
    border-color: #c0c0c0;
    border-radius: 6px;
  }
  
  li {
    padding-top: 1.182em;
    padding-bottom: 1.182em;
    padding-left: 1.182em;
    padding-right: 1.182em;
  }
  
  label {
    display: block;
    text-align: center;
  }

  form {
    background-color: white;
    /*color: white;*/
    border-radius: 10px;
    margin: 8%;
  }

  .hasjs #input-submit input.active {
    box-sizing: border-box;
    border: 2px solid black;
  }
  
  @media screen and (min-width: 600px) {
  
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    .grid-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr ;
    }

    .grid-1 {
      grid-column: 1;
      grid-row: 1;
    }

    .grid-2 {
      grid-column: 2;
      grid-row: 1/3;
    }

    .grid-3 {
      grid-column: 1;
      grid-row: 2;
    }

    form {
  
      margin: 4%;
    }
  }
  
  @media screen and (min-width: 992px) {

  }
  
  /* ===== LAYOUT STYLES ====== */
  
  
  /* ===== STATE STYLES ======= */
  
  